body {
    /* background-color: #67C7D4; */
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-repeat: none;
    /* background-color: rgba(178, 208, 212, 0.995); */
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #38383E;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #B2E2EC;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #B2E2EC;
  }
  
  /* Style page content */
  .main {
    margin-left: 20px;
    width: 100%;
    text-align: center;
  }
  img {
    width: 15%;
    height: 200px;
    margin: 0 auto;
}
  h2 {
    font-size: 50px;
    font-family: 'Acme', sans-serif;
    margin-top: 0;
    width: 100%;
    padding: 1%;
    color: #38383E!important;
    /* color: rgb(84, 133, 225)!important; */
    /* background-color: rgba(178, 208, 212, 0.995); */
    /* background-color: #B2E2EC; */
  }
  .mainDivs {
    display: flex;
    /* margin-top: 5%; */

  }
  #matches{
    background-color: #3aaf8a;
    border: 2px solid #337a64;
    border-radius: 25px;
    margin-left: 8%;
    margin-right: 4%;
    height: 50%;
    padding-bottom: 5%;
  }
  h3 {
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
  }
  #noMatches{
    padding-top: 2%;

  }
  #hasMatches {
    display: none;
  }
  h4 {
    color: whitesmoke;
    font-size: 25px;
  }
  #profile {
    background-color: #185a9d;
    border: 2px solid #0d3155;
    border-radius: 25px;
    height: 100px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }