.heading {
    text-align: center;
    width: 110%;
    background: #3aaf8a;
    margin-bottom: 3%;
}

.questions {
    background: #B2E2EC;
    width: 50%;
    margin: 3% auto;
    padding: 3%;
}

h3{
    margin-bottom: 4%;
}
