body {
    /* background: #B2E2EC; */
    background: #d1f7eb;
    /* background: #38383E; */
}
img {
    width: 18%;
    height: 250px;
    margin: 0 auto;
}
.heading {
    text-align: center;
    width: 100%;
    height: 180px;
    background: #3aaf8a;

    /* margin-bottom: 3%; */
    color: #B2E2EC;
}
.signup {
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
}
.survey {
    border: 1px solid #38383E;
    background: #B2E2EC;
    /* background: #3aaf8a; */
    /* background: rgb(101, 101, 109); */
    width: 80%;
    margin: 5% auto;
    padding: 3%;
}
.survey h1 {
    text-align: center;
}
.survey p {
    text-align: center;
    font-size: 18px;
}
.questions {
    margin: auto;
    text-align: center;
}
h3{
    margin-bottom: 4%;
}
#description-input {
    height: 150px;
}
/* .signBtn {
    margin: 5% auto;
    border: 2px solid gray;
    font-weight: bold;
    width: 20%;
    padding: .5% 1%;
} */